[% BLOCK html_sel_xpath%]
<p>
Another useful module is [% cpan.self_dist( "d" => "HTML-Selector-XPath", ) %]
 which allows one to convert <strong>CSS-style selectors</strong> to XPath and
provides functionality similar to that offered by such JavaScript libraries
such as jQuery. So you can, for example, write
<code>selector_to_xpath('ul.myclass a')</code> to find all <code>a</code> elements
inside a <code>ul</code> element with a CSS class of <code>myclass</code>.
</p>
[% END %]
