/.perltidyrc
/.sass-cache
/.tidyall.d
/Makefile
/Tests/case-insense-file-collision.t
/Tests/data/cache/spelling-timestamp.json
/Tests/data/cache/vnu-html-validator.json
/Tests/spell-check-is-sorted.t
/Tests/tidyall.t
/bin/Run-YUI-Compressor
/bin/batch-inplace-html-minifier
/bin/clean-up-docbook-xhtml-1.1.xslt
/bin/common-required-deps.yml
/bin/extract-spelling-errors.pl
/bin/gen-build-deps
/bin/gen-rpm-for-build-deps
/bin/html-min-cli-config-file.conf
/bin/post-incs.pl
/bin/render
/bin/sort-check-spelling-file
/bin/spell-checker-iface
/bin/spell.bash
/bin/translate-Vered-XML
/compile/
/dest
/lib/HTML/Latemp/DocBook/DocsList.pm
/lib/HTML/Latemp/DocBook/EndFormats.pm
/lib/HTML/Latemp/DocBook/GenMake.pm
/lib/HTML/Latemp/GenDeps.pm
/lib/HTML/Latemp/GenWmlHSects.pm
/lib/Inc/cpan_dists.wml
/lib/Inc/html5-shims.wml
/lib/Shlomif/Spelling/Check.pm
/lib/Shlomif/Spelling/Iface.pm
/lib/Shlomif/Spelling/Whitelist.pm
/lib/docbook/5/essays/bad-elements/all-in-one.xhtml
/lib/docbook/5/rendered/bad-elements.xhtml
/lib/docbook/5/xml/bad-elements.xml
/lib/make/build-deps/build-deps.mak
/lib/make/build-deps/build-deps.stamp
/lib/make/deps.mak
/lib/make/docbook/sf-docbook-common.mak
/lib/make/docbook/sf-homepage-docbook-gen.tt
/lib/make/include.mak
/lib/make/p4n.mak
/lib/make/rules.mak
/lib/make/shlomif_common.mak
/lib/sgml/
/lib/tutorials/bad-elements/all-in-one-xhtml/bad-elements/index.html
/lib/tutorials/bad-elements/bad-elements.docbook5.xml
/lib/tutorials/bad-elements/bad-elements.xhtml/index.html
/node_modules
/package-lock.json
/src/jqui-override.css
/src/print.css
/src/self_link.css
/src/style.css
/src/vim_syntax_highlighting.css
/temp
/tslint.json
