[%- SET title = "Perl Elements to Avoid" -%]
[%- SET more_keywords = ", elements, antipatterns, anti, patterns, help, ancient, ancient perl, modern, modern perl, avoid, bad perl, old tutorials, what to avoid" -%]
[%- PROCESS "blocks.tt2" -%]
[%- WRAPPER wrap_html -%]

<div class="bad_elems_wrapper">
[% slurp_bad_elems() %]
</div>

[% END %]
