[%- SET title = "Security in Perl" -%]
[%- PROCESS "blocks.tt2" -%]
[%- PROCESS "tut_blocks.tt2" -%]
[%- WRAPPER wrap_html -%]

[% WRAPPER h2_section id = "intro" title = "Introduction" %]

<p>
Some resources for writing more secure Perl code.
</p>

<ol>

<li>
<p>
[%- WRAPPER pdoc d = "perlsec" -%] - security in perl[%- END -%]
</p>
</li>

<li>
<p>
<a href="[% base_path %]topics/security/code-markup-injection/">Code/Markup Injection</a>
</p>
</li>

</ol>

[% END %]

[% END %]
