[%- SET title = "Perl Training Providers" -%]
[%- PROCESS "blocks.tt2" -%]
[%- WRAPPER wrap_html -%]

<p>
If you are not very auto-didactic, you may wish to take some courses at
a Perl training provider.
</p>

[% WRAPPER h2_section href = "http://perltraining.org/" id = "perltraining.org" title = "The Perl Training Directory" %]

<p>
A comprehensive directory of training providers, maintained by
<a href="http://www.szabgab.com/">Gabor Szabo</a>.
</p>

[% END %]

[% END %]
